<h2>All Pets</h2>

<% @pets.each do |pet| %>
  <h2><img src="<%= pet.image %>"></h2>
  <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3><br>
  Approximate age: <%= pet.approximate_age %><br>
  Sex: <%= pet.sex %><br>
  Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %>
  <section id="links <%= pet.id %>">
    <%= link_to "Edit Pet", "/pets/#{pet.id}/edit" %>
    <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
  </section>
<% end %>
